.other_nav{
position: fixed;
display: flex;
justify-content: center;
align-items: center;
z-index: 999;
bottom: 0px; 
width: 100vw;
height: 50px;
background-color: rgb(230, 230, 230);
}

.cart{
    width: 30px;
    height: 30px;
    font-family: sans-serif;
}

.section_cart_products{
    display: flex;
    justify-content: center;
    align-items: center;

}

