.nav{
    display: flex;
    width: 100vw;
    position: absolute;
    border-radius: 5px;
}

.container_nav{

   
}

.icon_menu{
    width: 40px;
    height: 40px;
    right: 2vh;
    z-index: 200;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.title{
    width: 70vw;
    font-size: 25px;
    margin: 1vh 3vh;
    font-family: 'Open Sans', sans-serif;
    opacity: 1;
    color: rgb(0, 0, 0);
}